img{
    width: 20%;
}
#odau{
    text-align: center;
    color: #ffffff;
    background-color: #ff0000;
    font-weight: bold;
    font-size: 20px;
}
#hang2{
    font-size: 28px;
    background-color: #ffbbbb;
    text-align: center;
    font-weight: bold;
    color: #ff0000;
}