h1{
    text-align: center;
    color: #CC0033;
}
#Laptrinh{
    color: white;
    background-color: #CC0033;
    text-align: center;
}
table{
    border:#CC0033;
    width: 100%;
}
body{
    text-align: center;
}
#do{
    color: crimson;
}
 
       
   