
h1{
    text-align:center ;
    color: #FFCC00 ;
}
.BaiTap{
    background-color: #A06D21;
    color:#FFFFFF  ;
}

.body{
    
    background-image: url(./Van\ ly\ Truong\ Thanh.png);
    background-position:center;
    background-repeat: no-repeat;
}